<!--Downloader-->
<div style="height: 20px"></div>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-11" style="background-color: #fff;border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;height:500px;overflow-y: scroll"
  >
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>add_circle</mat-icon> Download
        </ng-template>

        <div class="text-center" style="padding: 100px">
          <mat-form-field class="example-form-field example-full-width">
            <input matInput type="text" placeholder="Paste Download Link here" [(ngModel)]="value"/>
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button type="button" class="btn btn-primary">Go!!</button>
        </div>

      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>get_app</mat-icon> Processing
        </ng-template>
        <mat-list>
          <mat-list-item><p>Dragon Ball super Episode 20 Goku vs Freeza</p></mat-list-item>
        </mat-list>
        <p class="text-muted pull-right">10/50mb </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <button mat-button mat-icon-button>
          <mat-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button mat-icon-button>
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
        <button mat-button mat-icon-button>
          <mat-icon>import_export</mat-icon>220kbps
        </button>
        <button mat-button mat-icon-button class="pull-right">
          <mat-icon>clear</mat-icon>
        </button>
        <hr>
        <mat-list>
          <mat-list-item><p>Dragon Ball super Episode 21 Rise of super sayain</p></mat-list-item>
        </mat-list>
        <p class="text-muted pull-right">5/50mb </p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
        </div>
        <button mat-button mat-icon-button>
          <mat-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button mat-icon-button>
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
        <button mat-button mat-icon-button>
          <mat-icon>import_export</mat-icon>20kbps
        </button>
        <button mat-button mat-icon-button class="pull-right">
          <mat-icon>clear</mat-icon>
        </button>


        <hr>


      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label class="labelleft">
          <mat-icon>playlist_add_check</mat-icon>Completed
        </ng-template>
        <mat-list>
          <mat-list-item><p>Dragon Ball super Episode 21 Rise of super sayain</p></mat-list-item>
        </mat-list>
        <button mat-button mat-icon-button class="pull-right">
          <mat-icon>play_for_work</mat-icon>
        </button>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
        <hr>
        <mat-list>
          <mat-list-item><p>Dragon Ball super Episode 22</p></mat-list-item>
        </mat-list>
        <button mat-button mat-icon-button class="pull-right">
          <mat-icon>play_for_work</mat-icon>
        </button>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
        <hr>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>alarm_on</mat-icon> Queued
        </ng-template>

        <p>...</p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>settings_remote</mat-icon> Create Link
        </ng-template>

        <mat-list>
          <mat-list-item><p>Dragon Ball super Episode 21 Rise of super sayain</p></mat-list-item>
        </mat-list>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
        <button mat-button mat-icon-button>
          <mat-icon>publish</mat-icon>
        </button>
        <button mat-button mat-icon-button class="pull-right">
          <mat-icon>cancel</mat-icon>
        </button>
        <hr>
        <mat-list>
          <mat-list-item><p>Dragon Ball super Episode 22</p></mat-list-item>
        </mat-list>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
        <button mat-button mat-icon-button>
          <mat-icon>publish</mat-icon>
        </button>
        <button mat-button mat-icon-button class="pull-right">
          <mat-icon>cancel</mat-icon>
        </button>
        <hr>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>settings</mat-icon> Setting
        </ng-template>

        <p>...</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<!--#Downloadends-->
<!--#main menu ends-->
