<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name"><span style="color: red;">C</span>panel</h1>

    <!--toolbar-right-->
    <div class="toolbar-right">
      <mat-menu #mail="matMenu" [overlapTrigger]=false>
        <button mat-menu-item> Settings </button>
        <button mat-menu-item> Help </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="mail" >
        <mat-icon>chat</mat-icon> <span>2</span>
      </button>

      <mat-menu #mail="matMenu">
        <button mat-menu-item> Settings </button>
        <button mat-menu-item> Help </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="mail">
        <mat-icon>add_alert</mat-icon><span>5</span>
      </button>


      <mat-menu #dot="matMenu">
        <button mat-menu-item><mat-icon>build</mat-icon> Settings </button>
        <button mat-menu-item><mat-icon>power_settings_new</mat-icon>Logout</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="dot">
        <mat-icon>more_vert</mat-icon>
      </button>


    </div>
    <!--#toolbar-right ends-->
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <mat-nav-list>
        <div class="navlist">
          <mat-list>
            <a href="" routerLink="/dashboard" routerLinkActive="active">
              <mat-list-item><mat-icon>dashboard</mat-icon>Dashboard</mat-list-item>
            </a>
            <a href="">
              <mat-list-item><mat-icon>dns</mat-icon>server</mat-list-item>
            </a>
            <a href="" routerLink="/downloader" routerLinkActive="active">
              <mat-list-item><mat-icon>get_app</mat-icon> Downloader </mat-list-item>
            </a>
            <hr>
          </mat-list>
        </div>
      </mat-nav-list>


    </mat-sidenav>

    <mat-sidenav-content>
      <!--#content-->
      <div class="row">
        <!--side menu-->
        <div class="col-lg-1" style="left: 10px;">
          <div class="sidemenu">
            <a routerLink="/dashboard" routerLinkActive="active">
              <mat-icon class="">dashboard</mat-icon>
              <small class="">Dashhboard</small>
            </a>
            <hr>
            <a href="">
              <mat-icon class="text-muted">dns</mat-icon><br>
              <small class="text-muted">server</small>
            </a>
            <hr>
            <a routerLink="/downloader" routerLinkActive="active">
              <mat-icon class="text-muted">get_app</mat-icon><br>
              <small class="text-muted">Downloader</small>
            </a>
          </div>
        </div>

        <div class="col-lg-11">
          <router-outlet></router-outlet>
        </div>
      </div>
